{% extends 'base.html.twig' %}

{% block title %}Show All Gens{% endblock %}

{% block body %}
	<table class="table">
    <thead>
        <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Club</th>
        <th scope="col">Dettes</th>
        </tr>
    </thead>
    <tbody> 
    
    {% for gens in gens %}
        <tr>
        <td>{{ gens.id }}</td>
        <td>{{ gens.nom }}</td>
        <td>{{ gens.prenom }}</td>
        <td>{{ gens.clubId }}</td>
        <th scope="row">
        {% for dette in gens.dettes %}
            {{ dette }}
        {% endfor %}
        </th>
        </tr>
    {% endfor %}
    

    </tbody>
    </table>
{% endblock %}